<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - Mazer Admin Dashboard</title>
    <link rel="stylesheet" href="/mazer/assets/css/main/app.css" />
    <link rel="stylesheet" href="/mazer/assets/css/pages/auth.css" />
    <link rel="shortcut icon" href="/mazer/assets/images/logo/favicon.svg" type="image/x-icon" />
    <link rel="shortcut icon" href="/mazer/assets/images/logo/favicon.png" type="image/png" />
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>

  <body>
    <%- body %>
  </body>
</html>
