<header class="mb-3">
  <a href="#" class="burger-btn d-block d-xl-none">
    <i class="bi bi-justify fs-3"></i>
  </a>
</header>
<%- include('../layouts/alert') %>
<div class="page-heading">
  <div class="page-title">
    <div class="row">
      <div class="col-12 col-md-6 order-md-1 order-last">
        <h3>Upload Kategori Sampah</h3>
        <p class="text-subtitle text-muted">Tambahkan Kategori Sampah</p>
      </div>
      <div class="col-12 col-md-6 order-md-2 order-first">
        <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="/">Dashboard</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Upload Sampah</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
  <form class="form form-vertical" action="/admin/sampah" method="post" enctype="multipart/form-data">
    <section class="section">
      <div class="row">
        <div class="col-md-6 col-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Data Kategori</h4>
            </div>
            <div class="card-content">
              <div class="card-body">
                <div class="form-body">
                  <div class="row">
                    <div class="col-12">
                      <div class="form-group">
                        <label for="first-name-vertical">Nama Kategori</label>
                        <input
                          type="text"
                          id="first-name-vertical"
                          class="form-control"
                          name="name"
                          placeholder="Besi"
                          required
                        />
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-group">
                        <label for="email-id-vertical">Reward /kg</label>
                        <input type="text" id="reward" class="form-control" name="reward" placeholder="1000" required />
                      </div>
                    </div>

                    <div class="col-12 d-flex justify-content-end">
                      <button type="submit" class="btn btn-primary me-1 mb-1">Submit</button>
                      <button type="reset" class="btn btn-light-secondary me-1 mb-1">Reset</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6">
          <div class="card">
            <div class="card-header">
              <h5 class="card-title">Upload Image</h5>
            </div>
            <div class="card-content">
              <div class="card-body">
                <p class="card-text">Upload gambar kategori sampah, dan lakukan Preview</p>
                <center>
                  <label for="imageInput" class="btn btn-primary me-1 mb-1">
                    <i class="fa fa-cloud-upload"></i>&nbsp; Upload Image
                  </label>
                  <input
                    id="imageInput"
                    type="file"
                    name="image"
                    class="image-preview-filepond"
                    style="display: none"
                    accept="image/*"
                    required
                  />
                  <h5 style="padding-top: 20px"><strong>Image Preview</strong></h5>
                  <img
                    id="imagePreview"
                    src="#"
                    alt="Preview Image"
                    style="max-width: 300px; max-height: 300px; display: none; padding: 10px"
                  />
                </center>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </form>
</div>

<footer>
  <div class="divider">
    <div class="divider-text">
      <a href="https://github.com/fawwaz37/whatsapp-gateway" target="_blank">Zekais - 2022 &copy; Mazer</a>
    </div>
  </div>
</footer>

<script>
  function previewImage() {
    const input = document.getElementById('imageInput');
    const preview = document.getElementById('imagePreview');

    if (input.files && input.files[0]) {
      const reader = new FileReader();

      reader.onload = function (e) {
        preview.src = e.target.result;
        preview.style.display = 'block';
      };

      reader.readAsDataURL(input.files[0]);
    }
  }

  // Menambahkan event listener ke input file
  const imageInput = document.getElementById('imageInput');
  imageInput.addEventListener('change', previewImage);
</script>
