<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard - WhatsApp Gateway</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <link rel="stylesheet" href="/mazer/assets/css/main/app.css" />
    <link rel="stylesheet" href="/mazer/assets/css/main/app-dark.css" />
    <link rel="shortcut icon" href="/mazer/assets/images/logo/favicon.svg" type="image/x-icon" />
    <link rel="shortcut icon" href="/mazer/assets/images/logo/favicon.png" type="image/png" />
    <link rel="stylesheet" href="/mazer/assets/css/shared/iconly.css" />
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="/mazer/assets/extensions/datatables.net-bs5/css/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" href="/mazer/assets/css/pages/datatables.css" />

    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet" />
    <link
      href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <div id="app">
      <%- include('sidebar') %>
      <header class="mb-3">
        <a href="#" class="burger-btn d-block d-xl-none">
          <i class="bi bi-justify fs-3"></i>
        </a>
      </header>
      <p>TESTTTT</p>
      <div id="main"><%- body %></div>
    </div>

    <script src="/mazer/assets/js/bootstrap.js"></script>
    <script src="/mazer/assets/js/app.js"></script>
  </body>
</html>
