<div id="sidebar" class="active">
  <div class="sidebar-wrapper active">
    <div class="sidebar-header position-relative">
      <div class="d-flex justify-content-between align-items-center">
        <div class="logo">
          <a href="/"><img src="/image/logo.png" alt="Logo" srcset="" /></a>
        </div>
        <div class="theme-toggle d-flex gap-2 align-items-center mt-2">
          <i class="fa-regular fa-sun fa-xs"></i>
          <div class="form-check form-switch fs-6">
            <input class="form-check-input me-0" type="checkbox" id="toggle-dark" />
            <label class="form-check-label"></label>
          </div>
          <i class="fa-regular fa-moon fa-xs"></i>
        </div>
        <div class="sidebar-toggler x">
          <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
        </div>
      </div>
    </div>
    <div class="sidebar-menu">
      <ul class="menu">
        <li class="sidebar-title">Menu</li>

        <li class="sidebar-item <% if (url == '/admin/dashboard') { %> active <% } %>">
          <a href="/admin/dashboard" class="sidebar-link">
            <i class="fa-solid fa-table-columns"></i>
            <span>Dashboard</span>
          </a>
        </li>

        <li class="sidebar-item <% if (url == '/admin/transaction') { %> active <% } %>">
          <a href="/admin/transaction" class="sidebar-link">
            <i class="fa-solid fa-money-bill-wave"></i>
            <span>Transaksi</span>
          </a>
        </li>

        <li class="sidebar-item has-sub">
          <a href="#" class="sidebar-link">
            <i class="fa-solid fa-recycle"></i>
            <span>Kategori Sampah</span>
          </a>
          <ul class="submenu">
            <li class="submenu-item <% if (url == '/admin/sampah') { %> active <% } %>">
              <a href="/admin/sampah"><i class="fa-solid fa-list"></i>&nbsp; List Kategori</a>
            </li>
            <li class="submenu-item <% if (url == '/admin/sampah/create') { %> active <% } %>">
              <a href="/admin/sampah/create"><i class="fa-solid fa-square-plus"></i>&nbsp; Buat Kategori</a>
            </li>
          </ul>
        </li>

        <li class="sidebar-item">
          <a href="/admin/apidoc" class="sidebar-link">
            <i class="fa-solid fa-network-wired"></i>
            <span>API Doc</span>
          </a>
        </li>

        <li class="sidebar-title">Others</li>

        <li class="sidebar-item">
          <a
            href="https://api.whatsapp.com/send/?phone=6287715579966&text&app_absent=0"
            target="_blank"
            class="sidebar-link"
          >
            <i class="fab fa-whatsapp"></i>
            <span>Contact</span>
          </a>
        </li>

        <li class="sidebar-item">
          <a href="https://github.com/fawwaz37/" target="_blank" class="sidebar-link">
            <i class="fa-brands fa-github"></i>
            <span>Repository</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
